<!DOCTYPE HTML>
<html>
  <head>
    <title>Campus Market</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <% if(connected){ %>
    <% include intern_menu.ejs %>
    <% } else { %>
    <% include extern_menu.ejs %>
    <% } %>
    <div id="header" class="jumbotron">
      <div class = "container">
        <h1>Bienvenu sur Campus Market</h1>
        <p>Campus Market est une plateforme de vente et achat entre les étudiants logés sur le Campus de la Doua</p>
        <p>
        <a href="#" class="btn btn-primary" role="button">Sign Up</a>
        </p>
      </div>
    </div>
  </body>
</html>